language: java

services:
  - mysql

#notifications:
#  email:
#    recipients:
#      - a.redonda89@gmail.com
#      - gil.maricruz@gmail.com
#    on_success: always # default: change
#    on_failure: always # default: always

before_script:
  - sudo mysql -e "use mysql; update user set authentication_string=PASSWORD('root') where User='root'; update user set plugin='mysql_native_password'; FLUSH PRIVILEGES;"
  - sudo service mysql restart
  - mysql -e 'create database IF NOT EXISTS unqdb;'
