body{
    font-family: 'Lato', sans-serif;
    background: #353535;
}

.navbar-default{
    background-color: #353535;
    padding: 1em;
}

h1, h2, h3, h4, p, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{
     color: whitesmoke;
}

.navbar-default .navbar-brand{
    font-size: 30px;
}

.navbar-default .navbar-brand:hover {
    color: whitesmoke;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #F7CA18;
}

