/* Cascade style sheet based on Application.dtd DTD */
wicast:Application {
	display: block
}

Name {
	display: block
}

Version {
	display: block
}

Description {
	display: block
}

Url {
	display: block
}

Organization {
	display: block
}

Licenses {
	display: block
}

Licence {
	display: block
}

Id {
	display: block
}

Title {
	display: block
}

Properties {
	display: block
}

Encoding {
	display: block
}

Core {
	display: block
}

Tools {
	display: block
}

Tool {
	display: block
}

name {
	display: block
}

class {
	display: block
}

Server {
	display: block
}

Scheduler {
	display: block
}

Task {
	display: block
}

Channel {
	display: block
}

Message {
	display: block
}

Uri {
	display: block
}

File {
	display: block
}

WebAdmin {
	display: block
}

Port {
	display: block
}

Client {
	display: block
}