body {
    width: 700px;
    margin: auto;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    padding: 10px;
    font-family: Calibri, sans-serif;
}
a:visited { color: blue }
table > caption {
    text-align: left;
    font-weight: bolder;
    padding-bottom: 5px;
}
table > caption,
table th { font-family: Cambria, sans-serif }
