.mine-checkbox{
    border-radius: 25px;
    border: 2px solid;
    padding: 20px;
    width: 250px;
    height: 150px;
}
h1 {
    text-align: center;
}

/*.list-group-item{
    font-weight: bold;
}*/

