.husstand{
    margin-top:10px;
}
.medlemmer{
    margin-top: 10px;
    padding-bottom:10px;
}

#navnHusstand{
    border-style: solid;
    border-color: darkorange;
}
#navnMedlem {
    border-stye: solid;
    border-color: darkorange;
}
.knapp{
    margin-bottom: 10px;
}
