/*#halvesiden{
    width: 100%;
    padding-right: 100px;
    padding-left: 200px;
    margin-left: 200px;
}*/
div {
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 9px;
}
.logo{
    border: 0px;
}
#all{
    width: 60%;
}
#regBruker{
    margin-bottom: 0px;
}
.container{
    margin-bottom: 0;
}