.balanse{
    /* width: 550px; */
    height: auto;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 20px;
}

.labels {
    text-align: right;
}

#betalt {
    padding-right: 10px;
}

.panel-group {
    /* width: 600px;
    margin-bottom: 100px;
    */
    margin-right: 5px;
    margin-left: 5px;
}

#forespør {
    display: inline;
}

.caret {
    text-align: right;
}

#historikk {
    color: blue;
    margin-top: 50px;
}

.dropdown-menu-item {
    text-align: center;
}

.titteldiv {
    text-align: right ;
    margin-right: 5px;
}

.totalSum {
    color: #32CD32;
    margin-right: 50px;
}

#skyldertittel {
    margin-right: 30px  ;
}

.checkbox2 {
    text-align: center;
    /*margin-left: 10px;*/
}

#betalt {
    text-align: right;
}

.krev-penger{
    /*width: 550px;
    height: 900px;
    margin-right: 200px;*/
    margin-left: 100px;
    margin-top: 52px;
}
.medlemCheck{
    align-content: left;
}

