li {
	list-style:none;
	margin-left:0%;
	margin-right: 0%;
	}
#mensajesasistente{
	margin-top:4%;
	background-color: #ffb49b;
	margin-right: 20%;
	border-radius: 15px;
	padding-top: 4%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 2%;
    margin-bottom: 0%;
}
#bloqueChat {
	width: 45%; 
	position:absolute; 
	top:10%; 
	right:3%;
}

#mensajescliente{
	margin-top:4%;
	background-color: #ddfdf6;
	margin-left: 20%;
	border-radius: 15px;
	 padding-top: 4%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 2%;
    margin-bottom: 0%;
}

#chatAvatar {
	height: 35px;
	margin-left: 10px;
	margin-right: 10px;
}

#chatList {
	height: 350px;
	overflow-y: scroll;
}


#titulo {
	position:absolute;
	top:42%; 
	left:7%;
	text-align: center;
	font-size: 300%;
}
#iconWorker {
	position:absolute;
	top:12%; 
	left:18.5%;
	height: 30%;
	
}

#crearInci {
	position:absolute;
	top:66%; 
	left:5%;
	text-align: center;
	width: 20%;
	height: 17%;
	
	background-color: #82f97a;
	border-radius: 10px;
	
	font-size: 200%;
	
}

#listInci {
	position:absolute;
	top:66%; 
	left:28%;
	text-align: center;
	width: 20%;
	height: 17%;
	
	background-color: #87c9ed;
	border-radius: 10px;

font-size: 200%;
}