li {
	list-style:none;
	margin-left:0%;
	margin-right: 0%;
	}
#mensajesasistente{
	margin-top:4%;
	background-color: #ffb49b;
	margin-right: 20%;
	border-radius: 15px;
	padding-top: 4%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 2%;
    margin-bottom: 0%;
}


#mensajescliente{
	margin-top:4%;
	background-color: #ddfdf6;
	margin-left: 20%;
	border-radius: 15px;
	 padding-top: 4%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 2%;
    margin-bottom: 0%;
}

#chatAvatar {
	height: 35px;
	margin-left: 10px;
	margin-right: 10px;
}

#chatList {
	height: 350px;
	overflow-y: scroll;
}


#titulo {
	
	text-align: center;
	font-size: 300%;
}
#iconWorker {
	
	height: 30%;
	width: 30%;
	
}

#crearInci {
	
	text-align: center;
	
	background-color: #82f97a;
	border-radius: 10px;
	
	font-size: 200%;
	
}

#listInci {
	
	text-align: center;
	
	background-color: #87c9ed;
	border-radius: 10px;

font-size: 200%;
}