/* CSS used here will be applied after bootstrap.css */

@CHARSET "ISO-8859-1";

/* Sticky footer styles-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #101010;
    text-align: center;
    line-height: 60px
}

#login { 
 background: url('../img/city.png') no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 margin-top: 17%;
 margin-left: 20%;
}

.panel-default {
 opacity: 0.9;
 margin-top:30px;
}
.form-group.last {
 margin-bottom:0px;
}

/* Sticky footer styles-------------------------------------------------- */