.table thead tr th {
    text-align: center;
    vertical-align: middle;
}

.table tbody tr td {
    background-color: #dddddd2e;
}

#theme {
    width: 35%;
    text-align: left;
}

#manage {
    width: 3%;
}

#teacher {
    width: 20%;
}

#ea_row, #ema_row, #oma_row {
    background-color: #ccc;
}

#ea_section {
    background-color: #ddddddcc;
}