.modal-body{ /* Esta en boostrap pero como relative, lo quitamos para poder udar boton report */
	position: static;
	
	
}

.profile-user
{
	margin-top:10%;
    display: inline-block;
    }


.img-verified{
	color: #1abc9c;
	font-size: 21px;
}

.img-report{
	color: #d3d7cf;
	font-size: 21px;
	float: right;
}

.img-report:hover{
	color: #e1283c;
	font-size: 21px;
	float: right;
}

.img-message{
	color: #d3d7cf;
	font-size: 21px;
	float: right;
}

.img-message:hover{
	color: #428bca;
	font-size: 21px;
	float: right;
}


.img-edit{
	color: #d3d7cf;
	font-size: 22px;
	float: left;
}

.img-edit:hover{
	color: #4db8ff;
	font-size: 22px;
	float: left;
}


.titulo-apartado{
	margin-top: 20px;
    margin-bottom: 10px;
	color: #1abc9c;
}

   

.profile-name{
	margin: 5px 0 5px;
}


#clickeable{
	cursor:pointer;
}


.divider
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis
{
    margin-bottom:3%;
    margin-top:3%;

    border-top: 4px solid transparent;
    }
.emphasis:hover
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0%;
    }
span.tags
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }

.information{
margin-bottom:3%;}
.name{
margin-bottom: 4%;
text-align:center;
}

.user-basic-information{

margin-top:2%;
}

.up-button{
  background: url(../images/arrow--up--gray.png) no-repeat scroll 0 0 transparent;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  height: 28px;
  width: 44px;
  border:transparent;
  overflow: hidden;
  outline:none;
}

.up-button:hover{
  background: url(../images/arrow--up--gray.png) no-repeat scroll 0 0 transparent;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  height: 28px;
  width: 44px;
  border:transparent;
  overflow: hidden;
  outline:none;
  -webkit-filter: brightness(70%);
  filter: bightness(70%);
}

.down-button{
  background: url(../images/arrow--down--gray.png) no-repeat scroll 0 0 transparent;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  height: 28px;
  width: 44px;
  border:transparent;
  overflow: hidden;
  outline:none;
}

.down-button:hover{
  background: url(../images/arrow--down--gray.png) no-repeat scroll 0 0 transparent;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  height: 28px;
  width: 44px;
  border:transparent;
  overflow: hidden;
  outline:none;
  -webkit-filter: brightness(70%);
  filter: bightness(70%);
}

.btn-grey {
	background-color: #D8D8D8;
	color: #FFF;
}

.review-block-description .btn {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	padding: 6px 15px;
	margin-right: 5px;
}

.rating-block {
	padding: 15px 15px 20px 15px;
	border-radius: 3px;
}

.bold {
	font-weight: 700;
}

.padding-bottom-7 {
	padding-bottom: 7px;
}

.review-block {
	padding: 15px;
	border-radius: 3px;
	margin-bottom: 15px;
}

.review-block-name {
	font-size: 12px;
}

.review-block-date {
	font-size: 12px;
}

.review-block-rate {
	font-size: 13px;
	margin-bottom: 15px;
}

.review-block-title {
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 10px;
}

.review-block-description {
	font-size: 16px;
	text-align: center;
}

.info-profile-comment {
	text-align: left;
}

.review-block-rate .glyphicon {
	color: #ffcd00;
}

@media ( min-width : 770px) {
	.info-profile-comment {
		text-align: center;
	}
}

.review-block hr {
	border: 1px solid #e4e4e4 !important;
}


.profile-user{
	width: 95%;
}
